<!-- html starting tage and sidebar main content div -->
<%- include('../partials/sidebar') %>

  <!-- Topbar -->
  <%- include('../partials/topbar') %>

    <!-- Content -->
    <main class="main p-3">
      <div class="d-flex justify-content-between p-3 m-2 flex-wrap gap-2">
        <h4 class="page-title">Departments</h4>
        <a class="btn btn-primary text-center rounded-pill" href="/admin/departments" role="button"><i class="fa-solid fa-arrow-left"></i> Back</a>
      </div>
      
      <!-- Form -->
      <form action="/admin/departments/edit/<%= department._id %>" method="post" class="p-3">
        <div class="row">

          <!-- department -->
          <div class="col-sm-6 mb-3">
            <label for="departmentId" class="form-label">Department Id</label>
            <input type="text" class="form-control" id="departmentId" name="departmentId" value="<%= department.departmentId %>"></label>
          </div>
          <div class="col-sm-6 mb-3">
            <label for="departmentName" class="form-label">Department Name</label>
            <input type="text" class="form-control" id="departmentName" name="departmentName" value="<%= department.departmentName %>"></label>
          </div>

          <!-- Status -->
          <div class="col-sm-6 mb-3">
          <label class="gen-label">Status</label>
          <div>
            <label class="me-3 mt-1"><input type="radio" name="statusDep" value="active" checked> Active</label>
            <label><input type="radio" name="statusDep" value="inactive"> Inactive</label>
          </div>
        </div>
        </div>

        <!-- Button -->
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary ">SAVE CHANGES</button>
        </div>
      </form>

    </main>

    <!-- Footer -->
    <%- include('../partials/footer') %>