<!-- html starting tage and sidebar main content div -->
<%- include('./partials/sidebar') %>

  <!-- Topbar -->
  <%- include('./partials/topbar') %>

 <!-- Success and Failure Messages -->
 <%- include('../alerts') %>
 
    <!-- Content -->
    <main class="main p-3">
      
      <div class="d-flex justify-content-between my-2">
        <h5 class="page-title">Leave Requests</h5>
      </div>

      <!-- Leave request table -->
      <div class="table-responsive">
      <table class="table table-hover caption-top border mt-5">
        <caption>List of Leave Request</caption>
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Type</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <% if(leaves && leaves.length> 0) {%>
            <% leaves.forEach((leave, index )=> { %>
              <tr>
                <th scope="row">
                  <%= index + 1 %>
                </th>
                <td>
                  <%= leave.employeeId.firstName %>
                    <%= leave.employeeId.lastName %>
                </td>
                <td>
                  <%=  leave.employeeId.username %>
                </td>
                <td><%= leave.employeeId.email %>
                </td>
                <td>
                     <%= leave.leaveType %>
                </td>
                <td class="text-start">
                  <span class="badge<% if (leave.leaveStatus === 'Pending') { %>
                    bg-warning
                   <% } else if(leave.leaveStatus === 'Approved') {%>
                     bg-success
                     <%} else if(leave.leaveStatus === 'Rejected') {%>
                       bg-danger
                     <% } %> 
                     ">
                  <%= leave.leaveStatus %>
                </span>
                </td>
              </tr>
              <% } )%>
                <% }else{ %>
                  <tr>
                    <td colspan="8" class="text-center">No leaves found.</td>
                  </tr>
                  <% } %>

        </tbody>
      </table>
      </div>

    </main>

<!-- Footer -->
<%- include('./partials/footer') %>