<!-- html starting tage and sidebar main content div -->
<%- include('../partials/sidebar') %>

  <!-- Topbar -->
  <%- include('../partials/topbar') %>
    <!--  -->

    <!-- Content -->
    <main class="main">
      <div class="d-flex justify-content-between p-2 m-2 flex-wrap gap-2">
        <h5 class="page-title">Add Employee</h5>
        <a class="btn btn-primary text-center rounded-pill" href="/admin/employees" role="button"><i
            class="fa-solid fa-arrow-left"></i> Back</a>
      </div>
      
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <form action="/admin/Employees/add" method="post" >
            <div class="row mb-3">

              <!-- First Name -->
              <div class="col-sm-6 mb-3">
                <label for="firstName" class="form-label">First Name</label>
                <input type="text" class="form-control" id="firstName" name="firstName" />
              </div>

              <!-- Last Name -->
              <div class="col-sm-6 mb-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lastName" name="lastName" />
              </div>

              <!-- Username -->
              <div class="col-sm-6 mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" />
              </div>

              <!-- Email -->
              <div class="col-sm-6 mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" />
              </div>

              <!-- Password -->
              <div class="col-sm-6 mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" />
              </div>

              <!-- Joining Date -->
              <div class="col-sm-6 mb-3">
                <label for="joiningDate" class="form-label">Joining Date</label>
                <input type="text" class="form-control" id="joiningDate" name="joiningDate" data-datepicker="true"
                  placeholder="YYYY-MM-DD" autocomplete="off" />
              </div>

              <!-- Shift -->
              <div class="col-sm-6 mb-3">
                <label for="shift" class="form-label">Shift</label>
                <select name="shift" class="form-select" id="">
                  <option value="" disabled selected>Select a shift</option>
                  <% if (shift && shift.length> 0) { %> <% shift.forEach((shift)=>
                      { %>
                      <option value="<%= shift._id %>">
                        <%= shift.startTime %> - <%= shift.endTime %>
                      </option>
                      <% }); %>
                        <% } else{%>
                          <option value="" disabled>No shifts found.</option>
                          <% } %>
                </select>
              </div>

              <!-- Date of Birth -->
              <div class="col-sm-6 mb-3">
                <label for="dateOfBirth">Date of Birth</label>
                <input type="text" class="form-control" id="dateOfBirth" name="dob" data-datepicker="true"
                  placeholder="YYYY-MM-DD" autocomplete="off" />
              </div>
              <div class="col-sm-6 mb-3">
                <label for="phone" class="form-label">Phone</label>
                <input type="text" class="form-control" id="phone" name="phone" />
              </div>

              <!-- Gender -->
              <div class="col-sm-6 mb-3">
                <label class="gen-label">Gender</label>
                <div>
                  <label><input type="radio" name="gender" value="male" checked />
                    Male</label>
                  <label><input type="radio" name="gender" value="female" />
                    Female</label>
                </div>
              </div>

              <!-- Department -->
              <div class="col-sm-6 mb-3">
                <label for="department" class="form-label">Department</label>
                <select name="department" class="form-select" id="">
                  <option value="" disabled selected>Select a Department</option>
                  <% if (department && department.length> 0) { %> <% department.forEach((department)=> { %>
                      <option value="<%= department._id %>">
                        <%= department.departmentName%> - <%= department.departmentId%>
                      </option>
                      <% }); %>
                        <% } else{%>
                          <option value="" disabled>No departments found.</option>
                          <% } %>
                </select>
              </div>

              <!-- Status -->
              <div class="col-sm-6 mb-3">
                <label class="gen-label">Status</label>
                <div>
                  <label><input type="radio" name="statusEmp" value="active" checked />
                    Active</label>
                  <label><input type="radio" name="statusEmp" value="inactive" />
                    Inactive</label>
                </div>
              </div>
            </div>

            <!-- Button -->
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-primary">ADD EMPLOYEE</button>
            </div>
          </form>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <%- include('../partials/footer') %>